<section id="about">
	<div class="jumbotron jumbotron-about text-center">
	  <div class="container">
	    <h3 class="display-6">Ruby has a dream... to ride a pony</h3>
	    <p class="lead">Ruby, bursting with life but limited by Cerebral Palsy, is itching to do all the things her twin sister Lottie does...</p>
	    	<img src="imgs/ruby_lottie_at_table.jpg" class="img-fluid w-75 p-3" alt="...">
	    
			  <iframe class='gfm-media-widget' image='0' coinfo='0' width='100%' height='100%' frameborder='0' id='ruby039s-ride'></iframe><script src='//funds.gofundme.com/js/5.0/media-widget.js'></script>
			
	  </div>
	</div>

	<div class="container">
		<h3 class="display-6">Ruby's Ride story</h3>

		<p>Riding can be very beneficial for people with disabilities, building core strength, balance and co-ordination.</p>

		<p>Above all.......it is wonderful fun!!</p>

		<p>Imagine the thrill of leaving behind your pushchair and saddling up onto a beautiful, gentle pony........the breeze blowing through your hair as you walk gently through the countryside with Mum and Dad beside you. A real release from the restrictions of day to day life.</p>

		<p>Well.......Ruby's Ride has been made possible by some very dear friends who have found the perfect pony for Ruby and have stables and facilities to accommodate her dream.</p>

		<p>We need to make sure that Ruby's Ride has everything needed to stay healthy such as food, bedding, grooming and health care.</p>

		<p>This where the funding is needed. The cost of the pony has been covered but we need ongoing funding to cover the well-being of Ruby's Ride and to hopefully, in the future help others in the same situation.</P>

		<p>Ideally, a small but regular donation of only a few pounds per month will mean Ruby will be able to ride to her hearts content, releasing her from the constraints brought about by her Cerebral Palsy.</p>

		<p>Ruby's Ride would love to extend funding to others in the same situation and build a fun-funding pot and this of course depends on the very kind donations made by you lovely people who care enough to make a difference to the lives of those limited by disability.</p>

		<p>We would love for Ruby's Ride funding to become available to all in Ruby's situation and for this to happen we need you to share Ruby's Ride far and wide!!!</p>
	</div>
</section>

